body {
    /* overall style for page */
    font-family: Montserrat, Oxygen, Arial, Verdana, sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    text-align: left;
    margin: 0 auto;
    background-image: url("Images/HOPonly.png");
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
    width: 90%; }

/* style for div/container */
#container {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3f2e8+0,efe7a7+27,efdb43+100 */
    background: #f3f2e8; /* Old browsers */
    background: linear-gradient(to bottom,  #f3f2e8 0%,#efe7a7 27%,#efdb43 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f2e8', endColorstr='#efdb43',GradientType=0 ); /* IE6-9 */
    padding: 0;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
    border: 2px solid #577F57;  }

/*Affixing Logo, Header and Navigation to top of page and setting as Fixed*/
#heading {
    top: 0;
    padding: 10px 0;
    margin: 0 auto;
    width: 90%;
    display: block; }

/* Styles for Navigation */
ul.navigation {
    text-align: center;
    border: 1px solid #577F57;
    background: #45b545;
    width: 60%;
    border-radius: 15px;
    box-shadow: 0 3px 10px #577F57;
    padding: 10px 25px;
    margin: 5% auto;    }

/*Corrects formatting of list text for Navigation specifically*/
li.navigation{
    text-align: center;
    display: inline;  }
/* style for all paragraphs */
article {
    color: #665544;
    font-family: inherit;
    font-size: inherit;
    text-align: left;
    padding: 0 0 10px 15px;
    margin: 0 auto;
    width: 100%;    }

/* Styles for LINKS */
a:link{
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: #fffff0;
    margin-left: 2%;  }
a:visited {
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: #577F57;  }
a:hover {
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
    color: #577F57;  }
a:active{
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
    color: #45b545;  }

/*Creates style for linked images*/
a.ImageURL:hover {
    opacity: 0.6;
    display: inline-block;  }

/* Logo on top and bottom of page are centered */
IMG.Logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0 0 10px 0;  }

/*Removes bullets from unordered lists*/
ul{
    font-family: inherit;
    font-size: inherit;
    list-style-type: square;
    display: block; }

/* intended for styling lists */
strong {
    color: #577F57;  }

/* intended for styling business names */
em {
    color: #348888;  }

/* intended for styling "hop hitter" business name separate from other businesses mentioned */
.Name {
    color: #45b545;  }

/*Used with 'embedded' paragraph images*/
img.medium{
    width: 100%;
    height: 213px;  }
/* Creates option for floating images with text*/
img.align-left {
    float: left;
    padding: 0 10px 0 0;  }

/* controls h1, h2, h3 styles */
h1, h2, h3{
    color: #45b545;
    text-align: left;
    margin: 2% auto;
    font-weight: 700;  }

h1 {
    font: Oxygen;
    font-weight: 400;
    text-align: center;
    font-size: 2em;
    font-style: normal;
    padding: 0;  }

/* cascaded style for h1 that outranks previous style for h1-3 */
h1.Name {
    font: Oxygen;
    font-weight: 400;
    text-align: center;
    font-size: 4em;
    font-style: normal;
    text-shadow: 2px 2px 5px #577F57;
    padding: 0;  }

/*Controls width and alignment of h3 and lists*/
.content.h3, ul, ol{
    width: 100%;
    text-align: left;  }

/*Inserting non-repeating background as icon next to h2*/
.icon {
    background-image: url("Images/HOPonly.png");
    background-repeat: no-repeat;
    background-position: left center;
    height: 49px;
    padding: 21px 0 0 32px;  }

/* Styles for Images */
figure{
    display: block;
    text-align: left;
    width: 100%;
    padding: 0;
    margin: 0;  }

/*Image caption settings*/
figcaption{
    font-family: inherit;
    font-size: .5em;
    padding: 0;
    text-align:left;  }

/*ColumnA for two column system with margin to pull off of edge*/
#content {
    float: left;
    width: 53%;
    margin: 0 auto;
    padding: 0;  }

/*ColumnB for two column system*/
#sidebar{
    float: left;
    width: 33.3%;
    margin: 45% auto auto 12%;
    border: 2px solid #577F57;
    padding: 0;
    clear: none;    }

/* aligns footer to center */
footer {
    font-family: inherit;
    font-size: inherit;
    text-align: center;
    color: #45b545;
    padding: 0;
    margin: 0 auto 0 1.5%;
    width: 100%;
    bottom: 0   }

aside {
    font-size: inherit;
    margin: 0 auto 0 auto;
    text-align: left;  }

aside.ul {
    font-family: inherit;
    font-size: 1em;
    padding: 0;
    margin: 0 auto; }
