body {
    font-family: Arial, Verdana, sans-serif;
}

#container {
    border: 1px solid #665544;
    background-color: #f3f2e8;
    padding : 10px;
}

h1, h2, h3{
    color: #45b545;
}

h1 {
    align-content: center;
}

p {
    color: #665544;
}

strong {
    color: #577F57;
}

em {
    color: #348888;
}

#name {
    color: #45b545;
}